<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dockable{% block title %}{% endblock %}</title>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/dist/main.css" />

    {% block head_scripts %}{% endblock %}
</head>
<body>

    {% block body %}{% endblock %}

    {% block body_scripts %}{% endblock %}

</body>
</html>
