<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dockable</title>

    <link rel="stylesheet" href="/dist/main.css" />
</head>
<body>

    <main class="container">
        <h1>Dockable - Login</h1>

        <div class="box">
            <form id="LoginForm">
                <fieldset>
                    <label for="username">Username</label>
                    <input id="username" type="text" />
                </fieldset>

                <fieldset>
                    <label for="password">Password</label>
                    <input id="password" type="password" />
                </fieldset>

                <div>
                    <div id="error-message"></div>
                </div>

                <fieldset>
                    <button type="submit">Login</button>

                    <a class="ml-2" href="/register">Register account</a>
                </fieldset>
            </form>
        </div>
    </main>

    <script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>
    <script>
        document.querySelector('#LoginForm').addEventListener('submit', function(ev) {
            ev.preventDefault();

            let params = new URLSearchParams();
            let fields = ev.target.querySelectorAll('input');

            Array.prototype.slice.call(fields).map((el, index) => {
                params.append(el.id, el.value);
            });

            axios.post('/api/login', params)
            .then(function(response) {
                window.location.href = '/';
            })
            .catch(function(error) {
                if (error.response.status === 401) {
                    document.querySelector('#error-message').innerText = 'Incorrect username/password combo';
                }
            });
        });
    </script>
</body>
</html>
