$font-sans-serif: Nunito, Helvetica, sans-serif
$font-serif:      Spectral, Times, Georgia, sans-serif

@import 'global'

.button
    background: #fff
    border: 1px solid #e2e2e2
    box-shadow: 0px 0px 4px #d8d8d8
    color: #424242
    display: inline-block
    font-weight: 700
    padding: 12px
    line-height: 1
    text-decoration: none
    transition: all 0.10s ease
    width: auto

    &:hover
        background: #f7f7f7
